<h1>Baby Listings </h1>
<div class="card">
  <div class="card-body">
    <ul class="list-group">
      <% @babies.each do |baby| %>
        <li class="list-group-item">
          <%= link_to baby.name, baby_path(baby.id) %>
          <ul class="list-unstyled">
            <li><p>Age: <%= baby.age %></li></p>
            <li><p>Potty Trained: <% if baby.potty_trained %>
      <span>Baby is potty trained</span>
    <% else %>
      <span>Baby is not potty trained</span>
    <% end %></li></p>
            <li><p>Average Napping Hours: <%= baby.avg_napping_hours %></li></p>
            <li><p>Screamometer: <%= baby.screamometer %></li></p>
            <li><p>Medical Needs: <%= baby.medical_needs %></li></p>
          </ul>
        </li>
      <% end %>
    </ul>
  </div>
</div>





<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
