<h2>Name: <%= @baby.name %></h2>
<p>Age:<%= @baby.age %></p>
<p>Poo:<%= @baby.potty_trained %></p>
<p>Sleep:<%= @baby.avg_napping_hours %></p>
<p>Loud: <%= @baby.screamometer %></p>
<p>Sick:<%= @baby.medical_needs %></p>

<%= render '/bookings/new_booking' %>

<%= link_to "Book", new_baby_booking_path(@baby) %>
