<h2>Name: <%= @baby.name %></h2>
<p>Age:<%= @baby.age %></p>
<p>Potty Trained:<%= @baby.potty_trained %></p>
<p>Average Napping Hours:<%= @baby.avg_napping_hours %></p>
<p>Screamometer: <%= @baby.screamometer %></p>
<p>Medical Needs:<%= @baby.medical_needs %></p>

<%= render 'bookings/new_booking', booking: @booking, baby: @baby %>



<%#= link_to "Book", new_baby_booking_path(@baby) %>
